.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
}
img{
    background-color: black;
    width: 450px;
    height: 200px;
}

.imagenAuto{
    display: flex;
    justify-content: center;
}

.tarjeta{
    width: 400px;
    height: 450px;
}