.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fomulario{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.inpValue{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

input{
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
input:hover {
    border-color: #646cff;
}
input:focus,
input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.labelOrder{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}